<h1>Reservas</h1>
<h3>
  Current User: <strong>{{ currentUser }}</strong>
</h3>

<div class="container">
  <div class="row">
    <!-- Usuarios -->
    <div class="col">
      <div class="form-group">
        <label for="exampleSelect1">Example select</label>
        <select
          class="form-control"
          id="exampleSelect1"
          (change)="changeActiveUser($event)"
        >
          <option *ngFor="let user of users">{{ user }}</option>
        </select>
      </div>
    </div>

    <!-- Salas -->
    <div class="col-8">
      <div class="list-group">
        <a
          *ngFor="let sala of salas; let idxSala = index"
          href="#"
          class="sala list-group-item list-group-item-action flex-column align-items-start"
          [class.active]="sala.reserva !== null"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ sala.name }} - {{ idxSala }}</h5>
            <small>{{ sala.reserva }}</small>
          </div>
          <div>
            horarios
            <ul class="list-group">
              <li
                *ngFor="let horario of sala.horarios; let idxHorario = index"
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                {{ horario.rango }}
                <button
                  (click)="makeReservation(horario)"
                  type="button"
                  class="btn btn-primary btn-sm"
                  [disabled]="horario.user"
                >
                  Reservar
                </button>
              </li>
            </ul>
          </div>
          <small>Donec id elit non mi porta.</small>
        </a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
